<ion-app>
  <!-- Menú lateral -->
  <ion-menu side="start" menuId="main-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title class="menu-title">Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item routerLink="/home" lines="none" detail="false" class="menu-item">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>

        <ion-item routerLink="/profile" lines="none" detail="false" class="menu-item">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Mi Perfil</ion-label>
        </ion-item>

        <ion-item routerLink="/history" lines="none" detail="false" class="menu-item">
          <ion-icon name="time-outline" slot="start"></ion-icon>
          <ion-label>Historial de Viajes</ion-label>
        </ion-item>

        <ion-item routerLink="/services" lines="none" routerLinkActive="active-link" class="menu-item">
          <ion-icon name="construct-outline" slot="start"></ion-icon>
          <ion-label>Servicios</ion-label>
        </ion-item>

        <ion-item (click)="logout()" lines="none" class="menu-item">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenido principal -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
        <img src="../assets/icon/logoTransportesYA.png" alt="Logo" class="logo">
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>
