<ion-header>
  <ion-toolbar>
    <ion-title>Historial de Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="historialViajes.length > 0; else noViajes">
    <ion-item *ngFor="let viaje of historialViajes">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Camión: {{ viaje.camiones.tipo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Inicio:</strong> {{ viaje.ubicacion_inicio }}</p>
          <p><strong>Destino:</strong> {{ viaje.ubicacion_fin }}</p>
          <p><strong>Capacidad:</strong> {{ viaje.camiones.capacidad }} kg</p>
          <p><strong>Fecha:</strong> {{ viaje.fecha | date }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ng-template #noViajes>
    <ion-text>No tienes viajes registrados.</ion-text>
  </ng-template>
</ion-content>
