<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Seleccionar Servicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Tipo de camión</ion-label>
    <ion-select [(ngModel)]="selectedTruck" placeholder="Selecciona una opción">
      <ion-select-option value="small">Camión Pequeño (S)</ion-select-option>
      <ion-select-option value="medium">Camión Mediano (M)</ion-select-option>
      <ion-select-option value="large">Camión Grande (L)</ion-select-option>
      <ion-select-option value="extra_large">Camión Extra Grande (XL)</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="selectedDate"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Hora</ion-label>
    <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="selectedTime"></ion-datetime>
  </ion-item>

  <ion-button expand="full" (click)="scheduleService()">Agendar</ion-button>
</ion-content>
