<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TransportesYa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  

  <div class="vision-section">
    <h2>Nuestra Visión</h2>
    <p>
      En TransportesYa, nuestro objetivo es proporcionar un servicio de mudanzas eficiente y accesible para todos. Nos esforzamos por conectar a nuestros usuarios con los transportistas adecuados, garantizando una experiencia sin complicaciones y confiable.
    </p>
  </div>

  
</ion-content>
